@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Welcome</h1>
        <p>
            This project is a demo of GitHub actions.
        </p>
    </div>
    <div>
        This application does just about nothing.
    </div>
    <br />
    <div>
        <a href="https://aucomcollectivedoot20200215045008.azurewebsites.net">
            <img style="width:128px;height:256px;" src="https://stdootshare001.blob.core.windows.net/company-branding/logo-animated.gif" alt="My Logo" />
        </a>
    </div>
</div>
